@use "./base.scss";

// put your custom CSS here!

.page-title {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  // This forces the icon to appear before the text
  &::before {
    content: "";
    display: inline-block;
    width: 40px;  // Adjust size as needed
    height: 40px; // Adjust size as needed
    background-image: url("/static/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

strong {
  font-weight: 900;
  -webkit-text-stroke: 0.5px currentColor;
}

p {
  white-space: pre-line;
}

#footnote-label {
  @extend h1;
}

// // Explorer section title
// .explorer .folder-title {
//   font-size: 1.4rem;
// }

// .page-title {
//   font-size: 2rem;
// }